:root{
    --theme-color: #a39161;
    --theme-color-faded: #a39161b7;
    --item-color: #C0AB9F;
    --item-color-hover: #706c71;
    --color-white: #fff;
    --color-black: #000;
    --filter-background: #e1e1e1;
}